USE [master]
GO
/****** Object:  Database [MesajlasmaProjesi]    Script Date: 4.09.2025 15:12:25 ******/
CREATE DATABASE [MesajlasmaProjesi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BirlestirmeIslemleri', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BirlestirmeIslemleri.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BirlestirmeIslemleri_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BirlestirmeIslemleri_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MesajlasmaProjesi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MesajlasmaProjesi]
GO
/****** Object:  Table [dbo].[TblKisiler]    Script Date: 4.09.2025 15:12:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblKisiler](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](20) NULL,
	[SOYAD] [varchar](20) NULL,
	[NUMARA] [char](4) NULL,
	[SIFRE] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblMesajlar]    Script Date: 4.09.2025 15:12:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblMesajlar](
	[MESAJID] [smallint] IDENTITY(1,1) NOT NULL,
	[GONDEREN] [char](4) NULL,
	[ALICI] [char](4) NULL,
	[BASLIK] [varchar](50) NULL,
	[ICERIK] [varchar](500) NULL
) ON [PRIMARY]
GO
USE [master]
GO
